body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #ff0000;
}

h1 {
    color: #ff6347;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #ff6347;
}

a:hover {
    color: #ff0000;
}
